h1 {
  border: 5px solid black;
  background-color:#e6a995
}
h3{
  color: #332dff
}
h3 { 
text-decoration: underline #332dff 1px;}

h4{
  color: #332dff
}
h4 { 
text-decoration: underline #332dff 1px;}

h2{
  color: #332dff
    
}
h2 { 
text-decoration: underline #332dff 1px;}


h5{
  color: #332dff
}
h5 { 
text-decoration: underline #332dff 1px;}

g {
  border: 5px solid black;
  background-color:#e6a995
}